<!-- Portfolio Grid Section -->
<section class="portfolio">
  <div class="row">
    {% for item in site.portfolio %}
    <div class="col-sm-4 col-xs-4 portfolio-item">
      <a class="portfolio-link" data-keyboard="true" href="{{ site.baseurl }}{{ item.url }}">
        <div class="caption" title="{{ item.title }}">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img alt="" class="" src="{{ site.baseurl }}/{{ item.img }}">
      </a>
    </div>
    {% endfor %}
  </div>
</section>
