@import "../utils/_mixins";

.site-header {
  padding: $padding-x-small * 2 $padding-x-small * 2;
  background: $brand-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .branding {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  a {
    color: $header-link-color;
  }

  .avatar {
    height: 38px;
    width: auto;
    border-radius: 0.2em;
    margin-right: 0.5em;
    padding: 0;
  }

  .site-title {
    float: left;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5;
  }

  nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      text-align: right;
      clear: both;
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      float: left;
      margin-right: 0.5em;
      min-height: 47px;
    }

    a {
      &:hover {
        color: $link-color;
      }
    }
  }
}

/* ---- Responsive ---- */

@include isSmallScreenLayoutOrMore {
  // Hide menu
  a#menu-toggle {
    display: none;
  }
}

@include isTabletLayoutOrLess {
  .site-header {
    nav {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      ul {
        width: 100%;
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;

        &.open-menu {
          max-height: 200px;
        }
      }

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        float: left;
        clear: left;
        text-align: left;
        min-height: 32px;
        position: relative;
        margin-top: 18px;
      }

      a {
        text-align: left;

        &#menu-toggle {
          // position: absolute;
          top: 20px;
          right: 20px;
          width: auto;
          z-index: 100;

          &:after {
            content: "";
            display: inline-block;
            position: absolute;
          }
        }
      }
    }
  }
}
