@import "../utils/_mixins";

.site-header {
  padding: $padding-x-small * 2 $padding-x-small * 2;
  background: $brand-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .branding {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  a {
    color: $header-link-color;
  }

  .avatar {
    height: 38px;
    width: auto;
    border-radius: 0.2em;
    margin-right: 0.5em;
    padding: 0;
  }

  .site-title {
    float: left;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5;
  }

  nav {
    // flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;

    ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      text-align: right;
      clear: both;
    }

    li {
      display: inline;
      float: left;
      margin-right: 0.4em;
      min-height: 47px;
    }

    a {
      &:hover {
        color: $link-color;
      }

      &#menu-toggle {
        i {
          float: right;
          margin-bottom: 20px;
        }
      }
    }
  }
}

/* ---- Responsive ---- */

@include isSmallScreenLayoutOrMore {
  // Hide menu
  a#menu-toggle {
    display: none;
  }
}

@include isTabletLayoutOrLess {
  nav {
    height: auto;

    ul {
      width: 100%;
      display: none;

      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease-in-out;

      &.open-menu {
        max-height: 300px;
      }
    }

    li {
      width: 100%;
      float: left;
      position: relative;
    }

    a {
      text-align: left;
      width: 100%;

      &#menu-toggle {
        display: block;
        width: 100%;
        position: relative;

        &:after {
          content: "";
          display: inline-block;
          position: absolute;
        }
      }
    }
  }
}
