.header-txt-shadow {
    text-shadow: 1px 1px 2px $text-shadow;
}

// Buttons
.button {
    border-radius: 0.3em;
    border: 1px solid;
    display: inline-block;
    margin: 1em 0;
    padding: 0.5em 0.75em;
}

a.button {
    @extend .button-link;
}

.button-link {
    &:hover {
        background: $link-color;
        border: 1px solid $link-color;
        color: $background-color;
        text-decoration: none;
    }
}

.body-link {
    &:hover {
        text-decoration: underline;
        color: darken($link-color, 15%);
    }
}

.post-link {
  color: transparent;
  background-color: $text-color;
  background-image: -webkit-linear-gradient(45deg, #FF5F6D 0%, #FFC371 50%, transparent 50%);
  background-position: 100% 0;
  background-size: 200% 200%;
  transition: .1s;
  -webkit-background-clip: text;

  &:hover {
    color: transparent;
    background-position: 0 100%;
    transition: .3s;
  }
}

// States
.disabled {
    opacity: 0.7;
}

// Custom
.text-center {
    text-align: center;
}

.right {
    float: right;
}
