@import "../base/variables";

h1.title {
  @extend .header-txt-shadow;

  background-image: linear-gradient(to left, $color-robins-chest, $color-white-orange 100%);
  background-position: 0 100%;
  background-size: 100% 10px;
  background-repeat: repeat-x;
}

.subtitle {
  font-weight: normal;
  margin-top: 5px;
  text-shadow: 1px 1px 2px $text-shadow;
}

//Shared css in _post.scss
