@import "../base/_variables";

.search-bar {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 58px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.5;
  color: $text-color;
  border-bottom: 2px solid transparent;
  border-image-source: $avatar-gradient;
  border-image-slice: 1;

  &:focus,
  &:hover {
    border-color: #ff5e62;
    outline: 0;
  }

  &::placeholder,
  &::-moz-placeholder {
    color: #999;
  }

  &::after {
    position: absolute;
    border-radius: 10px;
  }
}

.feature-image .post-content {
  padding-bottom: $padding-small;
}

ul#results-container {
  margin: 2rem 0;

  hr {
    margin: 40px 0;

    &:last-child {
      display: none;
    }
  }
}

div.search-title a {
  h3 {
    margin: 0;
  }

  &:hover {
    text-decoration: none;
  }
}
