@import "../utils/_mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure {
  margin: 0;
}

// For correct line number width in Github Gists
.gist table tbody tr td {
  box-sizing: content-box;
}

html {
  background: $background-color;
}

footer p:last-child {
  margin-bottom: 0;
}

table {
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
  @media (max-width: 1100px) {
    overflow-x: scroll;
    display: inline-block;
  }
}

td,
th {
  padding: 0.5em 1em;
  border: 1px solid $border-color;
  text-align: left;
}

table,
dl,
kbd,
samp {
  margin: 1em 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 2em;
}

blockquote {
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }
}

p,
ol,
ul,
dl,
.math-display {
  line-height: 1.5;
  margin-bottom: 1em;
}

// KaTeX math display
.math-display {
  display: inline-block;
  width: 100%;
}

// Lists within lists

ol,
ul {
  list-style-position: outside;
}

li {
  // list-style-position: inside;
  margin-left: 1.2em;
  // display: inline-block;

  & > ul,
  & > ol {
    margin-bottom: 0;
    margin-left: 1em;
  }
}

ol li::marker {
  font-size: 100%;
}

hr {
  border: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid #fff;
  margin: 1em 0;
}

a {
  color: $link-color;
  text-decoration: none;
}

iframe,
img,
embed,
object,
video {
  max-width: 100%;
  padding: 0 10%;
}

img[align="left"] {
  margin-right: 3%;
}

img[align="right"] {
  margin-left: 3%;
}

div.alert {
  padding: 1em;
  border-radius: 4px;
  margin-bottom: 1em;

  &.alert-info {
    background-color: #daf8fe;
    border: 1px solid #00b4d8;
  }

  &.alert-success {
    background-color: #d4e09b;
    border: 1px solid #6a994e;
  }

  &.alert-warning {
    background-color: #ffe9b7;
    border: 1px solid #faa307;
  }

  &.alert-danger {
    background-color: #ffc7cc;
    border: 1px solid #e63946;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

/* ---- Responsive ---- */
@include isTabletLayoutOrLess {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1em;
  }
  h4 {
    font-size: 0.75em;
  }
  p,
  li {
    font-size: 0.75em;
  }
}
