// Colors
$avatar-gradient: linear-gradient(135deg, #ff5e62 0%, #ff9966 50%);
$rainbow-gradient: linear-gradient(
  45deg,
  #ff0000,
  #ff7300,
  #fffb00,
  #48ff00,
  #00ffd5,
  #002bff,
  #7a00ff,
  #ff00c8,
  #ff0000
);
$rainbow-gradient-pastel: linear-gradient(
  135deg,
  #f94144,
  #f3722c,
  #f8961e,
  #f9c74f,
  #90be6d,
  #43aa8b,
  #577590
);

// Typography
$font-family-main: "Source Sans Pro", Helvetica, Arial, sans-serif;
$font-family-headings: "Source Sans Pro", Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #fff;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #383838;
$link-color: #507492; // #1ABC9C;
$selection-color: #d4d4d4; // visible when highlighting text
$blockquote-color: #eef7fa; // $background-color;

//Search color
$link-shadow: transparentize($link-color, 0.6); //rgba(26, 188, 156, 0.6);
$text-shadow: #3f3f3f;
$search-color: #999;

// Header colours
$header-link-color: #383838;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"
// Header description box
$header-desc-background-color: #507492;
$header-desc-text-color: #fff;

// Theme Breakpoints
//          | ------- | --------- | ------------- | ----------- >
// values   0 --- 480 | 481 - 768 | 769 ---- 1440 | 1441 ------ >
// range    |  phone  |   tablet  | small screens | big screens
//
$phone-max: 480px;
$tablet-max: 768px;
$small-screen-max: 1440px;
