@import "colors";

// Typography
$font-family-main: "Source Sans Pro", Helvetica, Arial, sans-serif;
$font-family-headings: "Source Sans Pro", Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #fff;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: $color-cannon-smoke;
$link-color: $color-sky-and-sea-gray;
$selection-color: $color-rocky-snowfall; // visible when highlighting text
$blockquote-color: $color-bath-bubble-optimism; // $background-color;

//Search color
$link-shadow: transparentize($link-color, 0.6); //rgba(26, 188, 156, 0.6);
$text-shadow: $color-vibrant-black;
$search-color: $color-million-grey;

// Header colours
$header-link-color: $color-cannon-smoke;

// Feature image for articles
$feature-image-text-color: $color-pure-white;
$feature-image-size: cover; // options include "cover", "contain", "auto"
// Header description box
$header-desc-background-color: $color-sky-and-sea-gray;
$header-desc-text-color: $color-pure-white;

// Theme Breakpoints
//          | ------- | --------- | ------------- | ----------- >
// values   0 --- 480 | 481 - 768 | 769 ---- 1440 | 1441 ------ >
// range    |  phone  |   tablet  | small screens | big screens
//
$phone-max: 480px;
$tablet-max: 768px;
$small-screen-max: 1440px;
